<script type="text/javascript">
  $(function() {
      updateOrdersInput();
    });
</script>

<table class="table" id="cart_table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Count</th>
            <th >Price</th>
        </tr>
    </thead>
    <tbody>
        <% @cart_list.each do |order_item| %>
        <tr>
            <td>
            <img src="<%=order_item[0].path_to_img%>" width="45" height="38"/>
            <%=order_item[0].title%>
            </td>
            <td id="cart_product_<%=order_item[0].id%>" >
            <input id="<%=order_item[0].id%>" name="cart_count_product_<%=order_item[0].id%>" class="cart_product_count"  type="number"  min="1" value="<%=order_item[1].to_i%>"/>
            </td>
            <td class="cart_product_price">
            <%=order_item[0].price%>
            </td>
        </tr>
        <%end%>
        <tr>
            <td></td>
            <td>Total:</td>
            <td id="total_price"></td>
        </tr>
    </tbody>
</table>


<%= @orders_list%>
