<div class="d-flex justify-content-sm-between flex-wrap">
    <% @products.each do |product|%>
    <div class="">
        <img src="<%=product.path_to_img%>">
        <p>Pizza: <%= product.title.capitalize %> <%= product.size %>cm</p>
        <p>Price: <span id="price" type="number" value="<%= product.price %>"><%= product.price %></span></p>
        <p><%= product.description %></p>
        <p>bo=<%= product.best_offer? %>, sp=<%= product.spicy? %>, vg=<%= product.vegetarian? %></p>
 
            <div>
                <button id="1"  class="btn btn-primary btn-lg btn-block" onclick="addToCart()">Add to cart</button>
            </div>
    </div>
    <%end%>
</div>
<br>
