<script type="text/javascript">
  $(function() {
        updateOrdersInput();
        calculateCartItems();
        cartTotalCounter();
        totalPriceReloader();
    });
</script>

<div class="d-flex justify-content-sm-between flex-wrap">
    <% @products.each do |product|%>
    <div class="">
        <div>
            <img src="<%=product.path_to_img%>">
        </div>
        <br>
        <p>Pizza: <%= product.title.capitalize %> Size:<%= product.size %>cm</p>
        <br><a href="/product/<%= product.id%>">Description</a>
        <br><span>Price: <%= product.price %> руб.</span>
        <p><%='Best Offer ' if product.best_offer?%><%='Spicy ' if product.spicy?%><%='Vegetarian' if product.vegetarian?%></p>
 
            <div>
                <button   class="btn btn-primary btn-lg btn-block" onclick="addToCart(<%= product.id%>)">Add to cart</button>
            </div>
    </div>
    <%end%>
</div>
